# pandas

## Selecting data

There are multiple ways to select data in pandas. You will need to learn all of the ways because you will see these techniques being used in other people's code and in answers to your pandas questions when you search online.
<br><br>In this notebook, we will cover:
- Selecting columns using DataFrame indexing
- Selecting rows based on a boolean condition using DataFrame indexing
- Selecting columns, rows, and individual data points with `loc` and `iloc`
- Selecting individual data points with `at` and `iat`
*You cannot select individual data points using indexing.*

#### <br>Import pandas

We import pandas as a shortened nickname, `pd`, which is commonly used for pandas.

In [ ]:
import pandas as pd

#### <br><br>Loading in our sample dataset

Our sample dataset was taken from FiveThirtyEight. It contains game data for WNBA games since 1997.

In [ ]:
df = pd.read_csv("wnba-team-elo-ratings.csv")

<br>Take a minute to examine the dataset.

In [ ]:
df.head()

<br>How many rows are in the dataset?

In [ ]:
len(df)

### <br><br>Selecting columns or rows using indexing

To create a DataFrame with only some columns, you use indexing, and you pass it a list of the columns that you want to include:

In [ ]:
my_columns = ["season", "team1", "team2"]
df[my_columns]

<br>OR you could just include the list inside the indexing. This creates two sets of square brackets, which looks a little silly, but it works!

In [ ]:
df[["season", "team1", "team2"]]

<br>If you want to return just one column as a DataFrame, you still use the list inside the index:

In [ ]:
df[["date"]]

### <br><br>Exercise 1

Here's a reminder of what the DataFrame looks like:

In [ ]:
df.head()

Write code to return the name1, name2, and is_home1 columns:

Write code to return the playoff column:

<br><br><br>If you only index the column name, without putting it in a list, you get a different type of pandas object - the **Series** object.

In [ ]:
df["date"]

<br>A Series object only returns the values from one column. It can be turned into a list, which is very convenient:

In [ ]:
date_list = list(df["date"])
print(len(date_list))
print(type(date_list))

<br>**A Series object is a one-dimensional object, while a DataFrame is a two-dimensional object. A Series can be turned into a list, while a DataFrame can be indexed based on row number, so they both have their uses.**

### <br><br>Exercise 2

Write code to return a list of data in the prob1 column:

In [ ]:
prob_data =

In [ ]:
print(len(prob_data))
print(type(prob_data))

### <br><br><br>Selecting rows using indexing

If we want to return a DataFrame with only some **rows**, we can index a range. DataFrame indexing uses regular Python indexing, so we ask for the first item we want, and then a colon, and then we go one position past the last item we want.

In [ ]:
df[0:10]

<br>Because this indexing is referencing the position of the row in the DataFrame, not the index number, we an use negative indexing in either spot to count from the bottom of the DataFrame.

In [ ]:
df[495:-12]

<br>If you only want a single row, you still need to use indexing with a `:`:

In [ ]:
df[4:5]

### <br><br>Exercise 3

Write code to return row number 9,999.

Write code to return the second row in our DataFrame.

### <br><br><br>Selecting data with a boolean

To return a DataFrame that only has rows that meet a certain condition, we use this syntax. The outer `df[]` lets Python know that you want the answer to be returned as a DataFrame, meaning you can return all the columns included in the output. Inside the indexing, we include our boolean statement, which usually means we need to index a particular column in the dataset to filter the data on.

In [ ]:
df[df["team1"] == "LVA"]

In [ ]:
df[df["score1"] > 100]

### <br><br>Exercise 4

Write code to return a DataFrame that only includes games that were playoff games (playoff games are coded as 1 in that column):

Write code to return a DataFrame that only includes games where score2 was greater than 100:

<br><br><br>If you don't use the outer `df[]` the return is a Series object that returns the boolean value for each row based on the condition you set:

In [ ]:
df["team1"] == "LVA"

<br><br>You can also combine a boolean with column indexing to return only some columns for your filtered data. Here I am returning only the team2, socre1, and score2 columns for any rows with "CHI" in the team1 column.

In [ ]:
df[df["team1"] == "CHI"][["team2", "score1", "score2"]]

<br><br>**Using the indexing method, we cannot refer to individual rows by name or pull up individual cells in our DataFrame.**

In [ ]:
df[25]

## <br><br><br>pandas loc

The `loc` **attribute** allows us to call up certain rows and columns. The syntax is:

#### `df.loc[row, column]`

#### `df.loc[list of rows, list of columns]`

#### `df.loc[range of rows, range of columns]`

`loc` can take a row, a list of rows, or a range of rows, followed by a comma, and then a column, list of columns, or range of columns. <br><br>If you want all the rows or all the columns, you can use a `:`. <br><br>**The rows that we refer to here are the row names (index names) that are found in bold on the far left of our DataFrame.**

<br>To reference one cell:

In [ ]:
df.loc[25, "date"]

<br>All rows for one column:

In [ ]:
df.loc[:, "team1"]

<br>All columns for one row:

In [ ]:
df.loc[12, :]

### <br><br>Exercise 1

The very first game played by the Chicago Sky is in the row with index 6427.

Write code to return all columns in that row:

Did the Chicago Sky play their very first game at home or away? Write code to return the data in the column "is_home1" for that row:

*(1 is True and 0 is False)*

## <br><br>`loc` with a range and a list

This code will return all columns for the rows 0 through 10.

In [ ]:
df.loc[0:10, :]

<br>**Unlike Python indexing, `loc` is referencing the rows by their index names, so row 10 is included.**

<br><br>We can also ask for a range of columns, from left to right:

In [ ]:
df.loc[0:10, "season":"name2"]

<br><br>Again, `loc` uses the column and row names, not their positions, so this will not work:

In [ ]:
df.loc[0:10, 0:4]

<br><br>We can also pass a list of rows or columns:

In [ ]:
df.loc[[0, 10, 8], ["team1", "score1", "team2", "score2"]]

*Notice how the returned DataFrame used the same order given in the lists.*

### <br><br>Exercise 2

Run the following cell to store the list of row indexes for the first 5 games played by the Chicago Sky:

In [ ]:
first5 = [6427, 6415, 6393, 6387, 6371]

Write code to return the rows for the first 5 Chicago Sky games, and return only the columns "team2", "score1", "score2", and "is_home1":

## <br><br>`loc` with a conditional

You can use a conditional to filter rows. The conditional is written the same way as we would write it without using loc:

In [ ]:
df.loc[df["team1"] == "CHI", :]

<br><br>Here I use the same filter for the rows, but I only ask for three columns to be returned:

In [ ]:
df.loc[df["team1"] == "CHI", ["team2", "score1", "score2"]]

### <br><br>Exercise 3

Write code to return all games played in the 2012 season. Only return the columns "date", "name1", and "name2".

## <br><br>pandas `iloc`

**While `loc` searches by row and column names, `iloc` searches only by the indexed positions in the DataFrame.**

Here, I'm asking for the top 10 rows and the first four columns:

In [ ]:
df.iloc[0:10, 0:4]

<br>**Notice that `iloc` uses Python indexing!** When we ask for rows 0:10, it returns rows 0 to 9. Also notice that the index (the bold number on the left side of each row) does not count as a true column.

<br>Because `iloc` uses Python indexing, we can use negative numbers:

In [ ]:
df.iloc[0:-5000, 4:-10]

### <br><br>Exercise 4

The games are included in reverse chronological order, so the last row in the table is the very first game ever played.

Was the very first game played at home or away for team1? Use iloc to return the column "is_home1" for the very last row in the DataFrame:

Use iloc to write code to return the columns "team1" and "team2" for the most recent 20 games:

## <br><br>pandas `at` and `iat`

If you are looking for the contents of only a single cell (called a **scalar**) in the DataFrame, you can use `loc` or `iloc`:

In [ ]:
df.loc[0, "season"]

In [ ]:
df.iloc[0, 0]

<br>However, there is another set of pandas functions designed to look up only a single cell. `at` will look up a single cell by row name and column name (like `loc`), and `iat` will look up a single cell by index position (like `iloc`).

Why does pandas have a separate way to look up a single cell? Because `at` and `iat` are very fast. If you write code to look up 10,000 single points in a DataFrame, it would be much faster to use `at` or `iat` than `loc` or `iloc`.

In [ ]:
df.at[0, "season"]

In [ ]:
df.iat[0, 0]

<br><br>Just to reiterate, `at` and `iat` cannot be used with multiple rows or columns:

In [ ]:
df.at[0, ["season", "date"]]

### <br><br>Exercise 5

Use `at` to write code to find out if the game in row 5485 was played at home or away:

Now use `iat` to find the same answer:

## <br><br>A note about index labels

The bold numbers on the far left of each column were assigned to each row when the csv file was originally loaded into pandas.

In [ ]:
df.head()

<br>If we make a new DataFrame out of only some rows, the index labels will stay the same, leaving gaps. Let's make a new DataFrame that only includes games played by the Chicago Sky:

In [ ]:
CHIdf = df.loc[df["team1"] == "CHI", :]
CHIdf.head()

<br>I can now use `iloc` to get Chicago's most recent 30 games:

In [ ]:
CHIdf.iloc[0:30, :]

<br>But I could not use `loc` to get the same thing:

In [ ]:
CHIdf.loc[0:30, :]

<br>You can, however, set one of your columns as the index labels:

In [ ]:
CHIdf = CHIdf.set_index("date")

In [ ]:
CHIdf.head()

<br>Now I can use `loc` to reference the games by date:

In [ ]:
CHIdf.loc["9/13/2012", :]

<br><br>I can still use a range of row labels:

In [ ]:
CHIdf.loc["9/13/2012":"5/19/2012", :]

<br>If you've been wondering why referencing rows by index numbers would ever be useful, now you can set your index names to any unique value that would be useful to you - a sample ID, a name, a date, etc.

### <br><br>Exercise 6

Using the CHIdf, write code (use either `loc` or `at`) to find out which team Chicago played against on 6/16/2017:

### <br><br><br>Searching for multiple conditionals in pandas

Let's say we want to search through the original DataFrame, `df`, for all games played by the Chicago Sky where the Chicago Sky won. For each of these games, we want to return only the columns for season and the name of the opposing team.

The conditional for only Chicago Sky games is:
<br>`df["team1"] == "CHI"`
<br><br>The conditional for games that Chicago won is:
<br>`df["score1"] > df["score2"]`

We might try to use Python operators (`and`, `or`, `not`):

In [ ]:
df.loc[df["team1"] == "CHI" and df["score1"] > df["score2"], ["season", "name2"]]

<br><br>**However, pandas uses the operators `&`, `|`, `!` for and, or, and not. Pandas also requires you to include each conditional inside parentheses.**

In [ ]:
df.loc[(df["team1"] == "CHI") & (df["score1"] > df["score2"]), ["season", "team2"]]

### <br><br>Exercise 7

Use `loc` to return rows in the DataFrame that were played in either the 1999 or 2000 seasons. For each row, return all columns:

Has Chicago ever played in any playoff games? Return rows that have CHI in the "team1" column and 1 in the "playoff" column. Only return the columns "season", "team2", and "date":